:host {
    //position: relative;
  
    display: block;
    width: 35px;
    height: 35px;
  }
  
.line {
    position: absolute;
    right: 6px;
    margin-top: 10px;

    width: 30px;
    height: 3px;
    border-radius: 2px;

    background: white;

    //transition: background 200ms;
}

.line-first {
    top: 0;
}

.line-second {
    top: 8px;
}

.line-third {
    top: 16px;
}
  