<mat-sidenav-container>
    <mat-sidenav mode="side" opened [@slideInOut]="isExpanded">
        <div class="menu-header">
            <a class="help-btn" href="#" *ngIf="isExpanded" [@fadeInOut]>
                <i class="material-icons">help</i>
            </a>
            <span *ngIf="isExpanded" [@fadeInOut]>it.capture</span>
            <button mat-icon-button (click)="sidebarToggle()">
                <!--<mat-icon>{{sidebarButtonType}}</mat-icon>-->
                <app-burger [state]="menuState"></app-burger>
            </button>
        </div>
        <div class="menu-content">
            <a class="side-btn" href="#">
                <i class="material-icons">account_box</i>
                <span *ngIf="isExpanded" [@fadeInOut]> LOGIN</span>
            </a>
            <mat-divider></mat-divider>
            <a class="side-btn" href="#">
                <i class="material-icons">today</i>
                <span *ngIf="isExpanded" [@fadeInOut]> JOBS</span>
            </a>
            <mat-divider></mat-divider>
            <a class="side-btn" href="#">
                <i class="material-icons">all_inbox</i>
                <span *ngIf="isExpanded" [@fadeInOut]> INBOX</span>
            </a>
            <mat-divider></mat-divider>
            <a class="side-btn" href="#">
                <i class="material-icons">scanner</i>
                <span *ngIf="isExpanded" [@fadeInOut]> SCAN</span>
            </a>
        </div>

    </mat-sidenav>
    <mat-sidenav-content [@marginAdjust]="isExpanded">
        <div class="splash">
            <h1>it.capture</h1>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>

