<mat-sidenav-container>
    <mat-sidenav mode="side" opened [@slideInOut]="isExpanded">
        <div class="menu-header">
            <a class="help-btn" href="#">
                <i class="material-icons">help</i>
            </a>
            <span>it.capture</span>
            <button mat-icon-button (click)="sidebarToggle()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="menu-content">
            <a class="side-btn" href="#">
                <i class="material-icons">today</i>
                <span> JOBS</span>
            </a>
            <mat-divider></mat-divider>
            <a class="side-btn" href="#">
                <i class="material-icons">all_inbox</i>
                <span> INBOX</span>
            </a>
            <mat-divider></mat-divider>
            <a class="side-btn" href="#">
                <i class="material-icons">scanner</i>
                <span> SCAN</span>
            </a>
        </div>

            

    </mat-sidenav>
    <mat-sidenav-content>
        <h1>SMSCAN</h1>
        {{isExpanded}}
    </mat-sidenav-content>
</mat-sidenav-container>

